# Bayt derlenmiş / optimize edilmiş / DLL dosyaları
__pycache__/
*.py[cod]
*$py.class

# C uzantıları
*.so

# Dağıtım / paketleme
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Genellikle bu dosyalar bir şablondan bir python betiği tarafından yazılır
# PyInstaller, içine tarih/diğer bilgileri enjekte etmek için exe'yi oluşturmadan önce.
*.manifest
*.spec

# Yükleyici günlükleri
pip-log.txt
pip-delete-this-directory.txt

# Birim testi / kapsam raporları
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Çeviriler
*.mo
*.pot

# Django şeyler:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask şeyler:
instance/
.webassets-cache

# Scrapy şeyler:
.scrapy

# Sfenks belgeleri
docs/_build/

# PyBuilder
target/

# Jüpiter Defter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   pypa/pipenv#598'e göre, sürüm kontrolüne Pipfile.lock eklenmesi önerilir.
# Ancak işbirliği durumunda, platforma özgü bağımlılıklar veya bağımlılıklar varsa
# platformlar arası desteği olmayan pipenv, çalışmayan veya çalışmayan bağımlılıkları yükleyebilir
# gerekli tüm bağımlılıkları kurun.
#Pipfile.lock

# kereviz yendi zamanlama dosyası
celerybeat-schedule

# SageMath ayrıştırılmış dosyalar
*.sage.py

# ortamlar
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder proje ayarları
.spyderproject
.spyproject

# İp proje ayarları
.ropeproject

# mkdocs belgeleri
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ateş türü denetleyicisi
.pyre/
